In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('startup_funding.csv')

In [9]:
df.sample(5)

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
2029,2030,08/01/2016,FlatFurnish,Consumer Internet,Online Furnishing Rental Platform,Gurgaon,Arun Chandra Mohan,Seed Funding,NaN,NaN
2095,2096,28/01/2016,JustDoc,Consumer Interne,Medical Video Consultation platform,Bangalore,"TV Mohandas Pai, Mohit Saxena, Raghunandan G, ...",Seed Funding,NaN,NaN
2604,2605,09/07/2015,\\xc2\\xa0Shopsity,\\xc2\\xa0Fashion Info Aggregator App,NaN,\\xc2\\xa0Gurgaon,"\\xc2\\xa0 Sandeep Aggarwal, Teruhide Sato",Seed Funding,\\xc2\\xa0N/A,NaN
1939,1940,10/02/2016,Affimity,Consumer Internet,Social Networking platform,Bangalore,undisclosed investors,Seed Funding,"12,00,000",NaN
1866,1867,15/03/2016,WithMe,Consumer Internet,Personalized Fashion App,Gurgaon,"Alex Kuruvilla, Pradeep Guha, Saket Dhankar, R...",Seed Funding,"2,50,000",NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3044 entries, 0 to 3043
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sr No              3044 non-null   int64
 1   Date dd/mm/yyyy    3044 non-null   object
 2   Startup Name       3044 non-null   object
 3   Industry Vertical  2873 non-null   object
 4   SubVertical        2108 non-null   object
 5   City  Location     2864 non-null   object
 6   Investors Name     3020 non-null   object
 7   InvestmentnType    3040 non-null   object
 8   Amount in USD      2084 non-null   object
 9   Remarks            419 non-null    object
dtypes: int64(1), object(9)
memory usage: 237.9+ KB

In [13]:
df.isnull().sum() * 100.0 / df.shape[0]

Sr No                 0.000000
Date dd/mm/yyyy       0.000000
Startup Name          0.000000
Industry Vertical     5.617608
SubVertical          30.749014
City  Location        5.913272
Investors Name        0.788436
InvestmentnType       0.131406
Amount in USD        31.537451
Remarks              86.235217
dtype: float64

### There are 86 % missing value present in Remarks columns. So we drop that column

In [14]:
df.drop(columns=['Remarks'],inplace=True)

In [15]:
df.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD
0,1,09/01/2020,BYJUâ€™S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000"
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394"
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860"
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000"
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000"

In [16]:
df.columns

Index(['Sr No', 'Date dd/mm/yyyy', 'Startup Name', 'Industry Vertical',
       'SubVertical', 'City  Location', 'Investors Name', 'InvestmentnType',
       'Amount in USD'],
      dtype='object')

In [17]:
df.set_index('Sr No',inplace=True)

In [18]:
df.head()

,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD
Sr No,,,,,,,,
1,09/01/2020,BYJUâ€™S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000"
2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394"
3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860"
4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000"
5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000"

### Renaming the columns

In [19]:
df.rename(
    columns={
        'Date dd/mm/yyyy':'date',
        'Startup Name':'startup',
        'Industry Vertical':'vertical',
        'SubVertical':'subvertical',
        'City  Location':'city',
        'Investors Name':'inverstor',
        'InvestmentnType':'round',
        'Amount in USD':'amount_in_usd'
    },
    inplace=True

)

In [20]:
df.head()

,date,startup,vertical,subvertical,city,inverstor,round,amount_in_usd
Sr No,,,,,,,,
1,09/01/2020,BYJUâ€™S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000"
2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394"
3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860"
4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000"
5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000"

In [21]:
df['amount_in_usd'].value_counts()

10,00,000    165
5,00,000     108
20,00,000     69
50,00,000     66
30,00,000     66
            ...
82,50,000      1
8,72,000       1
5,70,000       1
5,37,000       1
32,50,000      1
Name: amount_in_usd, Length: 471, dtype: int64

In [22]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [23]:
df['amount_in_usd'].value_counts()

10,00,000               165
5,00,000                108
20,00,000                69
50,00,000                66
30,00,000                66
1,00,00,000              60
1,00,000                 57
1,50,000                 45
2,00,000                 44
2,50,000                 41
60,00,000                40
1,50,00,000              39
15,00,000                37
40,00,000                35
3,00,000                 31
25,00,000                25
5,00,00,000              24
6,00,000                 23
4,00,000                 21
2,00,00,000              21
12,00,000                20
3,00,00,000              19
2,50,00,000              18
10,00,00,000             17
4,50,000                 17
70,00,000                16
1,20,00,000              15
3,50,000                 14
7,50,000                 13
1,60,00,000              12
80,00,000                12
45,00,000                12
11,00,000                11
1,10,00,000              11
35,00,000                11
50,000                   10
13,00,000                10
6,50,000                 10
7,00,000                  9
31,00,000                 9
3,50,00,000               9
6,00,00,000               8
1,20,000                  8
1,80,000                  8
75,00,000                 8
9,00,000                  7
2,60,00,000               7
40,000                    7
4,00,00,000               7
18,00,000                 7
1,60,000                  7
55,00,000                 7
1,80,00,000               7
20,00,00,000              7
16,00,000                 7
14,00,000                 7
15,00,00,000              6
22,00,000                 6
8,00,000                  6
16,600                    6
90,00,000                 6
2,10,00,000               5
38,00,000                 5
2,30,00,000               5
17,00,000                 5
5,50,000                  5
27,00,000                 5
77,00,000                 5
23,00,000                 5
1,35,00,000               5
1,30,00,000               5
22,500                    5
1,25,000                  5
13,50,000                 5
30,000                    5
1,47,000                  5
7,50,00,000               5
16,000                    5
3,75,000                  5
12,50,000                 4
32,00,000                 4
2,70,00,000               4
11,00,00,000              4
7,00,00,000               4
24,00,000                 4
5,10,00,000               4
76,00,000                 4
4,40,000                  4
2,20,00,000               4
1,70,00,000               4
\\xc2\\xa0N/A             4
5,50,00,000               4
4,50,00,000               4
1,45,000                  3
1,75,000                  3
42,00,000                 3
2,20,000                  3
1,25,00,000               3
1,90,00,000               3
Undisclosed               3
1,65,00,000               3
77,000                    3
2,25,000                  3
21,00,000                 3
22,50,000                 3
8,00,00,000               3
3,20,000                  3
65,00,000                 3
80,000                    3
3,15,000                  3
3,25,000                  3
3,10,00,000               3
92,00,000                 3
82,00,000                 3
53,00,000                 3
undisclosed               3
3,20,00,000               3
1,15,00,000               3
36,00,000                 3
3,30,000                  3
44,00,000                 3
1,23,00,000               3
3,10,000                  3
56,00,000                 3
3,85,000                  2
2,40,000                  2
19,00,000                 2
3,60,00,000               2
75,000                    2
3,80,80,000               2
6,20,00,000               2
4,48,000                  2
5,95,000                  2
2,35,000                  2
3,87,00,000               2
8,20,00,000               2
74,00,000                 2
14,00,00,000              2
1,95,00,000               2
2,90,000                  2
25,00,00,000              2
5,60,00,000               2
7,80,000                  2
2,30,000                  2
47,00,000                 2
2,33,000                  2
72,00,000                 2
4,45,000                  2
8,25,000                  2
58,00,000                 2
33,00,000                 2
95,00,000                 2
1,66,000                  2
86,00,000                 2
70,000                    2
1,34,00,000               2
3,40,00,000               2
12,00,00,000              2
7,70,000                  2
17,50,000                 2
48,00,000                 2
45,000                    2
67,00,000                 2
1,40,000                  2
2,75,000                  2
6,30,000                  2
2,97,000                  2
22,50,00,000              2
1,68,000                  2
5,20,00,000               2
1,61,000                  2
1,40,00,00,000            2
66,00,000                 2
30,00,00,000              2
4,70,000                  2
1,11,00,000               2
2,45,000                  2
34,00,000                 2
1,55,000                  2
52,00,000                 2
46,00,000                 2
3,70,00,000               2
7,35,000                  2
1,65,000                  2
28,00,000                 2
2,34,000                  2
2,15,00,000               2
5,40,000                  2
50,00,00,000              2
2,40,00,000               2
1,40,00,000               2
1,04,000                  1
2,98,000                  1
3,13,00,000               1
25,000                    1
2,18,000                  1
2,27,000                  1
7,40,000                  1
4,25,000                  1
19,50,000                 1
1,06,000                  1
18,000                    1
5,70,00,000               1
68,000                    1
6,70,000                  1
1,23,000                  1
41,00,000                 1
15,80,000                 1
8,90,000                  1
27,000                    1
3,66,000                  1
2,09,000                  1
9,63,000                  1
1,56,00,000               1
17,50,00,000              1
9,71,000                  1
90,000                    1
1,22,50,000               1
37,50,000                 1
94,000                    1
6,75,000                  1
7,45,000                  1
10,50,000                 1
3,24,000                  1
1,49,000                  1
4,41,000                  1
1,62,000                  1
88,00,000                 1
1,66,00,000               1
10,70,000                 1
1,56,000                  1
\\xc2\\xa019,350,000      1
\\xc2\\xa0685,000         1
\\xc2\\xa0600,000         1
\\xc2\\xa016,200,000      1
\\xc2\\xa020,000,000      1
1,02,00,000               1
20,000                    1
3,95,000                  1
6,30,00,000               1
2,10,000                  1
9,00,00,000               1
7,85,000                  1
96,00,000                 1
68,00,00,000              1
3,75,00,000               1
11,50,000                 1
4,10,000                  1
42,50,000                 1
\\xc2\\xa05,000,000       1
\\xc2\\xa010,000,000      1
7,90,000                  1
48,50,000                 1
1,47,50,000               1
30,768                    1
2,85,000                  1
1,35,000                  1
3,80,000                  1
21,50,000                 1
41,50,000                 1
5,18,000                  1
1,15,000                  1
2,80,00,000               1
40,00,00,000              1
6,25,000                  1
2,70,000                  1
8,50,00,000               1
13,70,00,000              1
70,00,00,000              1
1,27,50,000               1
2,05,000                  1
2,60,000                  1
1,30,000                  1
54,00,000                 1
37,000                    1
73,000                    1
9,70,000                  1
52,000                    1
81,000                    1
3,60,000                  1
1,08,000                  1
1,49,00,000               1
2,23,608                  1
89,00,000                 1
4,75,000                  1
89,000                    1
27,50,000                 1
3,76,000                  1
3,68,000                  1
2,95,000                  1
1,48,000                  1
18,00,00,000              1
14,50,00,000              1
6,40,000                  1
5,20,000                  1
15,30,000                 1
29,50,000                 1
1,90,000                  1
14,50,000                 1
1,10,000                  1
3,05,000                  1
4,55,000                  1
5,30,000                  1
37,00,000                 1
4,90,000                  1
4,60,000                  1
3,03,000                  1
2,25,00,000               1
51,50,000                 1
1,85,000                  1
3,70,000                  1
5,15,000                  1
1,52,00,000               1
1,18,000                  1
2,24,00,000               1
60,00,00,000              1
4,36,000                  1
2,80,000                  1
4,97,00,000               1
2,90,00,000               1
4,37,000                  1
2,77,00,000               1
62,50,000                 1
1,42,70,000               1
1,01,00,000               1
58,50,000                 1
1,14,811                  1
6,60,00,000               1
1,22,00,000               1
15,72,00,000              1
63,90,000                 1
1,46,80,000               1
1,48,00,000               1
3,000,00                  1
7,68,000                  1
46,140                    1
1,72,00,000               1
3,84,00,000               1
97,00,000                 1
9,78,000                  1
2,46,000                  1
11,000,00                 1
46,000,00                 1
1,000,000,                1
34,50,000                 1
3,07,600                  1
13,000,00                 1
2,93,000                  1
4200000                   1
9,49,000                  1
89,50,000                 1
91,00,000                 1
4,20,00,000               1
2,95,00,000               1
2,78,000                  1
28,30,00,000              1
3,90,00,00,000            1
65,90,000                 1
12,50,00,000              1
45,00,00,000              1
unknown                   1
58,50,00,000              1
1,00,00,00,000            1
1,58,00,000               1
2,77,99,000               1
22,00,00,000              1
13,50,00,000              1
1,74,11,265               1
4,86,000                  1
23,10,00,000              1
59,00,000                 1
1,83,58,860               1
57,50,000                 1
3,19,605                  1
48,89,975.54              1
27,39,034.68              1
1,38,995                  1
1,43,000                  1
5,72,000                  1
22,60,00,000              1
14,342,000+               1
3,07,000                  1
24,43,495                 1
63,20,820                 1
35,91,375                 1
4,30,665                  1
8,68,600                  1
35,84,000                 1
1,55,00,000               1
4,30,200                  1
1,51,09,500.00            1
13,10,000                 1
12,40,000                 1
3,82,000                  1
26,00,000                 1
2,15,000                  1
7,76,000                  1
78,00,000                 1
2,32,000                  1
1,85,00,000               1
4,64,000                  1
85,00,000                 1
7,34,000                  1
3,11,000                  1
68,00,000                 1
1,87,000                  1
3,12,000                  1
2,50,00,00,000            1
7,83,000                  1
2,43,000                  1
8,50,000                  1
7,10,00,000               1
7,37,00,000               1
5,35,000                  1
63,00,000                 1
1,91,000                  1
36,70,000                 1
33,50,000                 1
4,43,000                  1
36,50,000                 1
17,90,000                 1
33,00,00,000              1
46,50,000                 1
3,90,000                  1
6,20,000                  1
26,00,00,000              1
36,90,000                 1
61,00,000                 1
5,80,000                  1
4,66,000                  1
10,45,00,000              1
4,22,000                  1
1,54,00,000               1
4,40,00,000               1
10,40,000                 1
3,54,600                  1
3,62,30,000               1
2,35,00,000               1
1,88,40,000               1
19,30,000                 1
1,57,00,000               1
11,50,00,000              1
7,72,500                  1
62,00,000                 1
62,30,000                 1
1,48,434                  1
3,11,200                  1
9,35,089                  1
8,70,00,000               1
68,30,000                 1
43,00,000                 1
1,82,00,000               1
4,70,00,000               1
62,40,000                 1
1,75,00,000               1
69,00,000                 1
1,07,50,000               1
7,22,000                  1
80,48,394                 1
7,70,00,000               1
3,36,000                  1
3,06,000                  1
39,000                    1
27,00,00,000              1
3,29,230                  1
6,92,000                  1
82,50,000                 1
8,72,000                  1
5,70,000                  1
5,37,000                  1
32,50,000                 1
Name: amount_in_usd, dtype: int64

In [24]:
df['amount_in_usd'] = df['amount_in_usd'].fillna('0')

In [31]:
df['amount_in_usd'] = df['amount_in_usd'].str.replace(',','')
df['amount_in_usd'] = df['amount_in_usd'].str.replace('undisclosed','0')
df['amount_in_usd'] = df['amount_in_usd'].str.replace('unknown','0')
df['amount_in_usd'] = df['amount_in_usd'].str.replace('Undisclosed','0')

In [34]:
df = df[df['amount_in_usd'].str.isdigit()]

In [36]:
df['amount_in_usd'] = df['amount_in_usd'].astype('float')

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6132\2589275834.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['amount_in_usd'] = df['amount_in_usd'].astype('float')

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3029 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           3029 non-null   object
 1   startup        3029 non-null   object
 2   vertical       2858 non-null   object
 3   subvertical    2104 non-null   object
 4   city           2849 non-null   object
 5   inverstor      3005 non-null   object
 6   round          3027 non-null   object
 7   amount_in_usd  3029 non-null   float64
dtypes: float64(1), object(7)
memory usage: 213.0+ KB

### converting dollar value to INR Currency (Crore)

In [38]:
def to_inr(dollar):
    inr = dollar * 84.68
    return inr / 10000000

In [40]:
df['amount_in_usd'] = df['amount_in_usd'].apply(to_inr)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6132\2355689280.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['amount_in_usd'] = df['amount_in_usd'].apply(to_inr)

In [41]:
df.rename(columns = {'amount_in_usd':'amount_in_inr'},inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6132\392358230.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns = {'amount_in_usd':'amount_in_inr'},inplace=True)

In [42]:
df.head()

,date,startup,vertical,subvertical,city,inverstor,round,amount_in_inr
Sr No,,,,,,,,
1,09/01/2020,BYJUâ€™S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,1693.600000
2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,68.153800
3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,155.462826
4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,25.404000
5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,15.242400